.filters {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.filters__tabs {
    display: flex;
}

.filters__item {
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.filters__item:first-of-type {
    margin-left: 0;
}

.filters__checked {
    border-bottom: 1px solid #F65261;
}

.filters__selectContainer {
    width: 150px;
}

.filters__sortBlock {
    display: flex;
    align-items: baseline;
}

.filters__sort {
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;
    text-transform: uppercase;
}

.filters__select {
    height: 20px;
    display: flex;
    align-items: baseline;
    padding: 0 8px 0 0;
    color: #FFF;
    background-color: #232323;
}

.filters__selectContainer {
    margin-left: 31px;
}

.filters__selectArrow {
    top: 1px;
    right: 0;
}

.icon {
    width: 12px;
}

.filter__border {
    width: 100%;
    height: 1px;
    background-color: #080707;
}