.select {
    width: 150px;
    height: 44px;
    background-color: transparent;
    border: 0;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    text-transform: uppercase;
    appearance: none;
}

.container {
    position: relative;
    display: inline;
}

.container::after {
    content: "\1F783";
    color: #F65261;
    position: absolute;
    top: -7px;
    right: 0;
}