.select {
    width: 134px;
    height: 20px;
    background-color: transparent;
    border: 0;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    text-transform: uppercase;
    appearance: none;
    cursor: pointer;
}

.container {
    width: 170px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}