.container {
    position: relative;
    width: 301px;
}

.input {
    background-color: rgba(50, 50, 50, 0.95);
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    height: 57px;
    width: 100%;
    outline: none;
    border: 0;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 18px;
}

.calendar {
    z-index: 3;
    position: absolute;
    top: 45px;
    right: 17px;
}

.label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #F65261;
    padding-bottom: 8px;
    text-transform: uppercase;
}

:global {
    & .react-datepicker {
        color: rgba(255, 255, 255, 0.3);
        background-color: rgba(50, 50, 50, 0.95);
    }
}
